{
  "ignition": {
    "config": {
      "merge": [
        {
          "source": "https://{{ apiVIP }}:22623/config/worker"
        }
      ]
    },
    "version": "3.2.0"
  },
  "storage": {
    "files": [
      {
        "path": "/etc/hostname",
        "contents": {
          "compression": "",
          "source": "data:,worker-0"
        },
        "mode": 493
      }
    ]
  }
}
